html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-x: hidden
}

/*Text fading CSS*/
@keyframes slideinleft {
	0% {
		opacity: 0
	}
	50% {
		opacity: 0;
		transform: translatex(-5%)
	}
	100% {
		opacity: 1
	}
}

@keyframes slideinright {
	0% {
		opacity: 0
	}
	50% {
		opacity: 0;
		transform: translatex(5%)
	}
	100% {
		opacity: 1
	}
}

@keyframes fadein {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@-webkit-keyframes slideinleft {
	0% {
		opacity: 0
	}
	50% {
		opacity: 0;
		transform: translatex(-5%)
	}
	100% {
		opacity: 1
	}
}

@-webkit-keyframes slideinright {
	0% {
		opacity: 0
	}
	50% {
		opacity: 0;
		transform: translatex(5%)
	}
	100% {
		opacity: 1
	}
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

/*Main Block Element*/
.main-content {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-wrap: wrap
}

.left-content {
	flex-grow: 27;
	flex-shrink: 1;
	flex-basis: 0
}

.center-content {
	flex: 1;
	display: block
}

.right-content {
	flex: 25;
	display: block
}

.narrow-p {
    margin-left: 17%;
    margin-right: 17%;
    line-height: 1.5em;;
    padding-bottom: 6px;
}

.column-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin-left: 20%;
    margin-right: 20%;
}

.about-content p {
    font-family: 'Advent Pro', sans-serif;
	font-size: 23px;
	text-align: center;
	line-height: 1.1;
	font-weight: 500;
	color: #333;
    margin-top: .3em;
}

.about-content img {
    display: block;
    margin: 0 auto;
}

a {
	color: #AF5500;
	text-decoration: none
}

/*Content Division Typography*/
.header {
	font-family: 'Roboto', sans-serif;
	font-size: 72px;
	text-align: right;
	font-weight: 500;
	line-height: 1.1;
	color: #333
}

.subheader {
	font-family: 'Advent Pro', sans-serif;
	font-size: 23px;
	text-align: right;
	line-height: 1.1;
	font-weight: 500;
	color: #333
}

.p2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	padding-top: 10px;
	line-height: 175%
}

/*Middle Separator Content*/
.center {
	text-align: center!important
}

.separator {
	animation-duration: .5s;
	animation-name: fadein;
	-webkit-animation-duration: .5s;
	-webkit-animation-name: fadein;
	vertical-align: middle;
}

.separator img {
	max-height: 600px;
	height: auto
}



/*Content Divisions*/
.leftsidecontent {
	animation-duration: 1s;
	animation-name: slideinleft;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: slideinleft;
	display: block;
}

.rightcontent {
	animation-duration: 1s;
	animation-name: slideinright;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: slideinright
}

.profile-img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}



/*Button CSS Information*/
.btn-row {
	list-style-type: none;
	padding-top: 10px;
	padding-left: 0
}

li {
    display: inline
}

.btn {
	display: inline-block;
	cursor: pointer;
	font-family: sans-serif;
	padding: .5em 1em;
	margin-right: .5em;
	color: #444;
	background-color: #E6E6E6;
	border-radius: 2px
}

.btn:hover,
.btn:focus {
	background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1))
}

.btn:active {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px rgba(0, 0, 0, .2) inset
}

.btn:focus {
	outline: 0
}

.btn-primary {
	background-color: #E26E00;
	color: #fff
}

.btn-primary:hover {
    background-color: #AF5500;
}

.contact-row {
    margin-top: 10px;
    display: flex;
    display: -ms-flex;
	display: -webkit-flex;
    justify-content: center;   
}

i {
    padding: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

.column-2 {
    display: flex;
    display: -ms-flex;
	display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 10px;
}

.col-left {
    order:1; 
    flex-basis:100%;
    margin-right: 5px;
}

.col-left img {
    float: right;
    margin-right: 5px;
}
.col-right {
    order:2;
    flex-basis:100%;
    margin-bottom: 20px;
    margin-left: 5px;
    padding-top: 0px;
}

.col-left p{
    margin: .3em;
    text-align: right;
}
.col-right p{
    margin: .3em;
    text-align: left;
}